<div class="list row">
  <h1>{{"RECIPES" | translate}}</h1>
  <div class="my-recipes__recipes_container">
    <app-recipe-card *ngFor="
        let recipe of recipes
          | paginate
            : {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: count
              };
        let i = index
      " [recipe]="recipe"></app-recipe-card>
  </div>

  <div class="mt-3">
    <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="count"
      [pageSize]="pageSize" [pageSizeOptions]="pageSizes" [pageIndex]="page" aria-label="Select page">
    </mat-paginator>
  </div>
</div>
