<div>
  <h1
    class="text-white text-2xl font-semibold mb-3 text-center bg-indigo-600 p-3 rounded"
  >
    {{ "RECIPES" | translate }}
  </h1>
  <mat-accordion>
    <mat-expansion-panel hideSearchToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "SEARCH" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-recipe-search
        (onRetrieveRecipes)="retrieveRecipes($event)"
      ></app-recipe-search>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="my-recipes__recipes_container">
    <app-recipe-card
      *ngFor="
        let recipe of recipes
          | paginate
            : {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: count
              };
        let i = index
      "
      [recipe]="recipe"
    ></app-recipe-card>
  </div>

  <div class="my-recipes__paginator_container">
    <mat-paginator
      #paginator
      class="my-recipes__paginator"
      (page)="handlePageEvent($event)"
      [length]="count"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizes"
      [pageIndex]="page"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
