<div>
  <h1 class="text-2xl font-semibold mb-3">{{ "RECIPES" | translate }}</h1>
  <div class="my-recipes__recipes_container">
    <app-recipe-card
      *ngFor="
        let recipe of recipes
          | paginate
            : {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: count
              };
        let i = index
      "
      [recipe]="recipe"
    ></app-recipe-card>
  </div>

  <div class="my-recipes__paginator_container">
    <mat-paginator
      #paginator
      class="my-recipes__paginator"
      (page)="handlePageEvent($event)"
      [length]="count"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizes"
      [pageIndex]="page"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
